body {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

   background:rgb(95, 42, 42);
color:white;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {
color: rgb(147, 90, 200);

}